
os.img
*.o
.cache
.cache/clangd/index/memory.h.0DE3C5828551EDE9.idx
disk/bash
disk/cat
disk/childtest
disk/echo
disk/forktest
disk/greatfork
disk/grind
disk/init
disk/iotest
disk/killchild
disk/ls
disk/mkdir
disk/philosopher
disk/pingpong
disk/primes
disk/producer
disk/reader
disk/rm
disk/stressfs
disk/synctest
disk/wc
disk/yieldtest
disk/zhexuejia
kernel/kMain.elf
user/bash
user/cat
user/childtest
user/echo
user/forktest
user/greatfork
user/grind
user/init
user/iotest
user/killchild
user/ls
user/mkdir
user/philosopher
user/pingpong
user/primes
user/producer
user/reader
user/rm
user/stressfs
user/synctest
user/wc
user/yieldtest
user/zhexuejia
